---
import BaseLayout from '../../layouts/Baselayout.astro';
import BlogPost from '../../components/BlogPost.astro';

// returns an array of page routes
// all pages at these routes will use the same template defined in the file
export async function getStaticPaths() {
    const allPosts = await Astro.glob('../posts/*.md')
    // .flat flattens all arrays and new Set ensures there is only one of each tag
    const uniqueTags = [...new Set(allPosts.map(post => post.frontmatter.tags).flat())];

    return uniqueTags.map(tag => {
        const filteredPosts = allPosts.filter(post => post.frontmatter.tags.includes(tag));
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

// const filteredPosts = posts.filter(post => post.frontmatter.tags?.includes(tag));
---
<BaseLayout pageTitle={tag}>
    <p>Posts tagged with {tag}</p>
    <ul>
        {posts.map(post => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>

<!-- If you need information to construct the page routes, write it inside getStaticPaths(). -->
<!-- To receive information in the HTML template of a page route, write it outside getStaticPaths(). -->