@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DisplayOTF";
    src: url("../assets/fonts/DisplayOTF.otf");
}

.font-pixel {
    font-family: "DisplayOTF";
}

* {
    box-sizing: border-box;
}

.expanded {
    display: unset;
}

.portrait-pixel-corners {
    clip-path: polygon(
      0px calc(100% - 16px),
      4px calc(100% - 16px),
      4px calc(100% - 8px),
      8px calc(100% - 8px),
      8px calc(100% - 4px),
      16px calc(100% - 4px),
      16px 100%,
      calc(100% - 16px) 100%,
      calc(100% - 16px) calc(100% - 4px),
      calc(100% - 8px) calc(100% - 4px),
      calc(100% - 8px) calc(100% - 8px),
      calc(100% - 4px) calc(100% - 8px),
      calc(100% - 4px) calc(100% - 16px),
      100% calc(100% - 16px),
      100% 16px,
      calc(100% - 4px) 16px,
      calc(100% - 4px) 8px,
      calc(100% - 8px) 8px,
      calc(100% - 8px) 4px,
      calc(100% - 16px) 4px,
      calc(100% - 16px) 0px,
      16px 0px,
      16px 4px,
      8px 4px,
      8px 8px,
      4px 8px,
      4px 16px,
      0px 16px
    );
  }

.project-pixel-corners {
    clip-path: polygon(
        0px calc(100% - 20px),
        4px calc(100% - 20px),
        4px calc(100% - 12px),
        8px calc(100% - 12px),
        8px calc(100% - 8px),
        12px calc(100% - 8px),
        12px calc(100% - 4px),
        20px calc(100% - 4px),
        20px 100%,
        calc(100% - 20px) 100%,
        calc(100% - 20px) calc(100% - 4px),
        calc(100% - 12px) calc(100% - 4px),
        calc(100% - 12px) calc(100% - 8px),
        calc(100% - 8px) calc(100% - 8px),
        calc(100% - 8px) calc(100% - 12px),
        calc(100% - 4px) calc(100% - 12px),
        calc(100% - 4px) calc(100% - 20px),
        100% calc(100% - 20px),
        100% 20px,
        calc(100% - 4px) 20px,
        calc(100% - 4px) 12px,
        calc(100% - 8px) 12px,
        calc(100% - 8px) 8px,
        calc(100% - 12px) 8px,
        calc(100% - 12px) 4px,
        calc(100% - 20px) 4px,
        calc(100% - 20px) 0px,
        20px 0px,
        20px 4px,
        12px 4px,
        12px 8px,
        8px 8px,
        8px 12px,
        4px 12px,
        4px 20px,
        0px 20px
  );
}

.pixel-corners-bottom {
    clip-path: polygon(
      0px calc(100% - 8px),
      4px calc(100% - 8px),
      4px calc(100% - 4px),
      8px calc(100% - 4px),
      8px 100%,
      calc(100% - 8px) 100%,
      calc(100% - 8px) calc(100% - 4px),
      calc(100% - 4px) calc(100% - 4px),
      calc(100% - 4px) calc(100% - 8px),
      100% calc(100% - 8px),
      100% 8px,
      calc(100% - 4px) 8px,
      calc(100% - 4px) 4px,
      calc(100% - 8px) 4px,
      calc(100% - 8px) 0px,
      8px 0px,
      8px 4px,
      4px 4px,
      4px 8px,
      0px 8px
    );
  }