---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Home Page';
---

<BaseLayout pageTitle={pageTitle}> <!-- can just do pageTitle because the variables are the same name -->
    <h2>My awesome blog subtitle.</h2>
</BaseLayout>
