---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = 'Home Page';
---

<BaseLayout pageTitle={pageTitle}> <!-- can just do pageTitle because the variables are the same name -->
    <h2>My awesome blog subtitle.</h2>
    <!-- non-hydrated component -->
    <!-- <Greeting messages={["Hi", "Hello", "Howdy", "Bonjour", "Salut", "Shalom"]} /> -->

    <!-- hydrated component -->
    <Greeting client:load messages={["Hi", "Hello", "Howdy", "Bonjour", "Salut", "Shalom", "Hej", "Hallo", "Hola"]} /> 
</BaseLayout>
