---
    import '../styles/global.css';
    import VoronoiBeehive from '../components/Voronoi beehive.svelte';
    import VoronoiRegular from '../components/Voronoi regular.svelte';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <VoronoiRegular client:only />
        <h1 class="text-md font-bold underline">Hello World</h1>
	</body>
</html>
